<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Product List</title>

</head>
<body>
	<div th:each="product : ${productList}">
		<span th:text="${product.getTitle()}"></span><br></br> <span
			th:text="${product.getDetails()}"></span><br></br>
			 
			 <img  th:src="*{'data:image/jpeg;base64,'+image}" ></img>
			 
			 <!-- <img th:src="@{/product/images/__${product.getId()}__}" height="100"
			width="100"></img> -->
		<!-- <img th:src="*{'data:image/png;base64,'+image}" alt="" /> -->
	</div>

</body>
</html>